# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# Pytest cache
.pytest_cache/

# Docker
*.log
*.pid
*.db

# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfplan
terraform.tfvars
prod.tfvars
test.tfvars
crash.log

# General / VSCode / IDE
*.swp
.DS_Store
.idea/
.vscode/

# OS Files
.DS_Store
Thumbs.db




# To Check if still needed - configuration files
deploy-eb.sh

# To Check if still needed - ec2 and AWS data
ec2-user@*